@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@{
    Layout = "";
} 
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>@("Webshop - " + ViewData["Title"])</title>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img id="siteLogo" src="~/images/boatlogo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Producten</a>
            <div id="productsDropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
            </div>
        </li>
        <li class="nav-item dropdown">
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("Create", "Products")">Maak product soort aan</a>
                    <a class="dropdown-item" href="@Url.Action("Create2", "Products")">Voeg product toe</a>
                    <a class="dropdown-item" href="@Url.Action("ChooseProductsoort", "Products")">Bewerk productsoort</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "UploadFiles")">Voeg meerdere producten</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "CategoryList")">Overzicht Product Categorieën</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "ProductList")">Overzicht Producten</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Statistics")">Site Statistieken</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "UserManagement")">Gebruikers beheren</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "OrderList")">Bestellingen beheren</a>
                </div>
            }
        </li>
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mijn Account</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="@Url.Action("updateInfo", "userManagement")" >Mijn Profiel</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Index", "Cart")" id="cartLink">Winkelmand</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "Favorites")" id="favoritesLink">Favorieten</a>
                    <a class="dropdown-item" href="@Url.Action("oldOrders", "Cart")">Bestelgeschiedenis</a>
                    
                </div>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action("Index", "Cart")"><img src="~/Images/ShoppingCart.png" width="20"/></a>
            </li>
        }
    </ul>
    <partial name="_LoginPartial" />

   <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Category">
      <input class="form-control mr-sm-2" type="search" name= "search" placeholder="Zoeken..." aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Zoek</button>
    </form>
  </div>

</nav>
<br>
</head>

<body>
    
<div>
    @RenderSection("styles", required: false)
    @RenderBody()
</div>
<environment include="Development">

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</environment>

<environment exclude="Development">

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"

            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"

            asp-fallback-test="window.jQuery"

            crossorigin="anonymous"

            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"

            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"

            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"

            crossorigin="anonymous"

            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>

</environment>
@RenderSection("Scripts", required: false)

<div class="footer">
    <div class="footeritemContainer">
        <div class="footerItem">
            <ul>
                <li>
                    <b><a class="footerLink" asp-action="Klantenservice" asp-controller="FooterPages">Klantenservice</a></b>
                    <ul>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Contact" asp-controller="FooterPages">Contact</a>
                        </li>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Bestellen" asp-controller="FooterPages">Bestellen & Leveren</a>
                        </li>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Betalen" asp-controller="FooterPages">Betalen</a>
                        </li>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Retourneren" asp-controller="FooterPages">Retourneren</a>
                        </li>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Garantie" asp-controller="FooterPages">Garantie & Reparatie</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footerItem">
            <ul>
                <li>
                    <b><a class="footerLink" asp-action="Over" asp-controller="FooterPages">Over Ons</a></b>
                    <ul>
                        <li class="footerLi">
                            <a class="footerLink" asp-action="Voordelen" asp-controller="FooterPages">De voordelen van Banana Boat</a>
                        </li>
                    </ul>
                </li>
            </ul>            
        </div>
        <hr/>

    </div>
    <div>
        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img id="siteLogo" src="~/images/boatlogo.png" alt="logo"></a>
    </div>
</div>

</body>
<!-- Optional JavaScript -->
<script src="~/js/header/headerBadges.js"></script>
<script src="~/js/header/productsDropdown.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</html>
















