@using Org.BouncyCastle.Asn1.Cms
@using WebApp1.Controllers
@using WebApp1.Models
@model WebApp1.Models.EditProductViewModel
@{
    ViewData["Title"] = "Model Bewerken";                                
    string imagePath = "/images/products/" + Model.Image;
}
<link rel="stylesheet" href="~/css/edit_product.css">
<div class="pageRoot">
    <h2>Product Bewerken</h2>
    <hr>
    @if (Model.ResultMsg == EditProductController.ResultMsg.Failed)
    {
        <div class="alert-red">
            <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <i class="material-icons">error</i>   Er is iets foutgegaan bij het bewerken!
        </div>
    }
    @if (Model.ResultMsg == EditProductController.ResultMsg.Success)
    {
        <div class="alert-green">
            <span class="closeBtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <i class="material-icons">done_outline</i>   Het bewerken is voltooid!
        </div>
    }
    <br>
    <form action="@Url.Action("Edit", "EditProduct")" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" name="Image" value="@Model.Image" />
        <div class="row">
            <div class="col-6" id="ModelContent">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Naam</label>
                    <input asp-for="Title" class="form-control" placeholder="Title" value="@Model.Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Prijs</label>
                    <input asp-for="Price" class="form-control" placeholder="Price" value="@Model.Price"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiscountedPrice" class="control-label">Korting prijs</label>
                    @if (Model.DiscountedPrice == "-1")
                    {
                        <input asp-for="DiscountedPrice" class="form-control" placeholder="Korting prijs" value="0"/>
                        <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                        <input type="checkbox" asp-for="UseDiscount" value="true"/> @("Korting Inschakelen")<br>
                        }
                    else
                    {
                        <input asp-for="DiscountedPrice" class="form-control" placeholder="Korting prijs" value="@Model.DiscountedPrice"/>
                        <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
                        <input type="checkbox" asp-for="UseDiscount" value="true" checked/> @("Korting Inschakelen")<br> 
                    }
                </div>
                <div class="form-group">
                    <label class="form-label-file">Foto</label><br>
                    <input name="img" class="form-control-file" type="file" value="@Model.Image"/>
                </div>
            </div>
            <div class="col-6">
                <img src="@imagePath" height="300" width="400" class="ModelImage">
            </div>
        </div>
        <div class="form-group" id="desc">
            <label asp-for="Description" class="control-label">Beschrijving</label>
            <textarea asp-for="Description" class="form-control" rows="2" placeholder="@Model.Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label">Voorraad</label>
            <input asp-for="Quantity" class="form-control" rows="2" value="@Model.Quantity">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <h4>Attributen</h4>
        <hr>
        @for (int i = 0; i < Model.NumberAttributes.Count(); i++)
        {
            <div class="form-group">
                <input type="hidden" asp-for="NumberAttributes[i].AttributeValueId" value="@Model.NumberAttributes[i].AttributeValueId"/>
                <label asp-for="NumberAttributes[i].AttributeValue">@(Model.NumberAttributes[i].AttributeName + " - getal")</label>
                <input type="text" asp-for="NumberAttributes[i].AttributeValue" class="form-control" value="@Model.NumberAttributes[i].AttributeValue"/>
                <span asp-validation-for="NumberAttributes[i].AttributeValue" class="text-danger"></span>
            </div>
        }
        @for (int i = 0; i < Model.StringAttributes.Count(); i++)
        {
            <div class="form-group">
                <input type="hidden" asp-for="StringAttributes[i].AttributeValueId" value="@Model.StringAttributes[i].AttributeValueId"/>
                <label asp-for="StringAttributes[i].AttributeValue">@(Model.StringAttributes[i].AttributeName + " - tekst")</label>
                <input type="text" asp-for="StringAttributes[i].AttributeValue" class="form-control" value="@Model.StringAttributes[i].AttributeValue"/>
                <span asp-validation-for="StringAttributes[i].AttributeValue" class="text-danger"></span>
            </div>
        }
        <div class="form-group">
            <input type="submit" value="Opslaan" class="btn btn-primary"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}