@using Org.BouncyCastle.Asn1.Cms
@using WebApp1.products
@model WebApp1.products.Productwaarde
@{
    ViewData["Title"] = "Product Bewerken";                                
    Productwaarde product = ViewBag.EditProduct;
    List<ViewProductAttributes> attributes = ViewBag.EditProductAttributes;
    string imagePath = "/images/products/" + product.Image;
    int attributeIndex = 0;
    int attributeCount = attributes.Count();
}
<link rel="stylesheet" href="~/css/edit_product.css">
<div class="pageRoot">
    <h2>Product Bewerken</h2>
    <hr>
    <form action="@Url.Action("Edit", "EditProduct")" method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="@product.Id" />
        <input type="hidden" name="Image" value="@product.Image" />
        <div class="row">
            <div class="col-6" id="productContent">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Product Naam</label>
                    <input asp-for="Title" class="form-control" placeholder="Title" value="@product.Title"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Product prijs</label>
                    <input asp-for="Price" class="form-control" placeholder="Price" value="@product.Price"/>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input name="img" type="file" Class="form-control" value="@product.Image"/>
                </div>
            </div>
            <div class="col-6">
                <img src="@imagePath" height="300" width="400" class="productImage">
            </div>
        </div>
        <div class="form-group" id="desc">
            <label asp-for="Description" class="control-label">Product Beschrijving</label>
            <textarea asp-for="Description" class="form-control" rows="2" placeholder="@product.Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="control-label">Product Voorraad</label>
            <input asp-for="Quantity" class="form-control" rows="2" value="@product.Quantity">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <input type="hidden" name="attributeCount" value="@attributeCount"/>
        <h4>Attributen</h4>
        <hr>
        @foreach (ViewProductAttributes item in attributes)
        {
            <div class="form-group">
                <label class="control-label">@item.AttributeName</label>
                <input type="hidden" name="@("attributeId" + attributeIndex)" value="@item.AttributeValueId"/>
                <input name="@("attributeValue" + attributeIndex)" class="form-control" value="@item.AttributeValue"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            attributeIndex++;
        }
        <div class="form-group">
            <input type="submit" value="Opslaan" class="btn btn-default"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}