<link rel="stylesheet" href="~/css/product_creation_generic.css">
<link rel="stylesheet" href="~/css/favorites.css">
<div class="pageRoot">
    <h2>Jouw Favorieten</h2>
    <table class="table">
        <thead>
        <tr>
            <th>
                Product naam
            </th>
            <th>
                Product prijs
            </th>
            <th>
                Toegevoegd op
            </th>
            <th>
                Opties
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (FavoritesViewModel item in ViewBag.favProducts)
        {
            <tr>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    <form method="get">
                        <input type="hidden" name="id" value="@item.ProductId">
                        <input type="hidden" name="returnUrl" value="@Url.Action("Index","Favorites", new {id=item.ProductId})"/>
                        <button id="delete" class="btn btn-primary" type="submit" formaction="@Url.Action("RemoveProduct", "Favorites")">Verwijderen</button>
                        <button id="gotoProduct" class="btn btn-primary" type="submit" formaction="@Url.Action("Index", "ViewProduct")">Product pagina</button>
                    </form>
                </td>
            </tr>               
        }
        </tbody>
    </table>
</div>
