@using WebApp1.Models
@model WebApp1.Models.Datastructure
@{
    ViewData["Title"] = "Home Page";
    List<Productwaarde> products = Model.productwaardes.ToList();
}

<link rel="stylesheet" href="~/css/interactiveimage.css">
<link rel="stylesheet" href="~/css/mainpage.css">
<link rel="stylesheet" href="~/css/image.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="section">
  <h1>Welkom bij de webshop!</h1>


<img src="~/images/vessel.png" class="vessel">

<div class="popup" onclick="togglePopup1()" id="cat0">
 
    <div class="sel popuptext" id="myPopup1">
      <div id="menu"></div>
    </div>

  <img src="~/images/circle.png" class="category" >
</div>

<div class="popup" onclick="togglePopup2()" id="cat1">

    <div class="sel popuptext" id="myPopup2">
      <div id="menu2"></div>
    </div>
<img src="~/images/circle.png" class="category">
</div>
</div>
<script>

function menuToElement(item) {
        const li = document.createElement("li");
        if (item.children.length>0) {
            li.textContent = item.name + ' \u25BD';
            li.className = "btn btn-primary";

            const ul = document.createElement("ul");
            ul.className = "imageDropdownUl";
            for (var i=0; i<item.children.length; i++) {
              var child = item.children[i];
              console.log(item);
              ul.appendChild(menuToElement(child));
            }  

            li.appendChild(ul);
            
        } else {
        
            const a = document.createElement("a");
            li.appendChild(a);
            a.textContent = item.name;
            a.className = "btn btn-secondary";
        }

  return li;


    return ul;
   
}

 
/*
var categories = [{ 
    text: "engine",
    children: ["marco",2,3,5,7,9, { 
        text: "piston1",
        children: [4,5,6, { 
          text: "piston2",
          children: [4,5,6, {
            text: "piston3",
            children: [4,5,6, {
              text: "piston4",
              children: [4,5,6]           
            }]
          }]
      }]   
    }]   
}, {
    text: "tire",
    children: [7,8,9]
}]; 
*/
var categories = @Html.Raw(Json.Serialize(Model.kaas));

console.log(categories);
for (const item of categories.children){
if (item.name == "Zeilboot"){
  const ul = menuToElement(item);
  document.getElementById("menu").appendChild(ul);
}
else if (item.name == "Roeiboot"){
  const ul2 = menuToElement(item);
  document.getElementById("menu2").appendChild(ul2);
}
}

//var engine = [categories[0]];
//console.log(engine);
//var tire = [categories[1]];



//const ul = menuToElement(categories);
//document.getElementById("menu").appendChild(ul);

//const ul2 = menuToElement(tire);
//document.getElementById("menu2").app, endChild(ul2);


</script>


<script>

//When the user clicks on <div>, open the popup
for (const item of categories.children){
function togglePopup1() {
    var popup = document.getElementById("myPopup1");
    popup.classList.toggle("show");
}

function togglePopup2() {
    var popup = document.getElementById("myPopup2");
    popup.classList.toggle("show");
}


//dropdown in popup
var txt = $('.txt'),
    options = $('.options');

txt.click(function (e) {
    var dropId = $(this).attr("id");
    e.stopPropagation();


    var content = $(e.target).text();
    console.log(content);
    $('#'+ item.text).show(); 
});


$('body').click(function (e) {
    options.hide();
});
}


</script>









<!-- Interactive Image         -->
<!--<div id="mainDiv">
  <h3>Uitgelichte producten</h3>
  <div class='circle-container container' id="containerDiv">

    <a href='https://localhost:5001/Home/Mainpage' class='center' id='middle'><img src='~/images/boat.png'></a>
    <div id="cssSelectorRight" class="cssSelector">
     
    </div>
    <div id="cssSelectorBottomRight" class="cssSelector">
      
    </div>
    <div id="cssSelectorBottom1" class="cssSelector">
      
    </div>
    <div id="cssSelectorBottom2" class="cssSelector">
      
    </div>
    <div id="cssSelectorBottomLeft" class="cssSelector">
      
    </div>
    <div id="cssSelectorLeft" class="cssSelector">
      
    </div>
    <div id="cssSelectorTopLeft" class="cssSelector">
      
    </div>
    <div id="cssSelectorTop1" class="cssSelector">
      
    </div>
    <div id="cssSelectorTop2" class="cssSelector">
      
    </div>
    <div id="cssSelectorTopRight" class="cssSelector">
      
    </div>
  </div>
</div>-->





<div class="section">
  <h3>Onlangs toegevoegd</h3>
  <hr>
  <div class="container">
    <div class="row" id="products">
      <div class="col-4">
        @if (products.Count() > 0)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 1].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 1].Title</h5>
                  <div>
                    @if (products[products.Count() - 1].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 1].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 1].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 1].Price</div>
                    }
                    @if (products[products.Count() - 1].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 1].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 1].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 1].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 1].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
      <div class="col-4">
        @if (products.Count() > 1)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 2].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 2].Title</h5>
                  <div>
                    @if (products[products.Count() - 2].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 2].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 2].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 2].Price</div>
                    }
                    @if (products[products.Count() - 2].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 2].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 2].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 2].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 2].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
      <div class="col-4">
        @if (products.Count() > 2)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 3].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 2].Title</h5>
                  <div>
                    @if (products[products.Count() - 3].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 3].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 3].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 3].Price</div>
                    }
                    @if (products[products.Count() - 3].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 3].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 3].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 3].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 3].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>


