@using WebApp1.Models
@model WebApp1.Models.Datastructure
@{
    ViewData["Title"] = "Home Page";
    List<Productwaarde> products = Model.productwaardes.ToList();
}

<link rel="stylesheet" href="~/css/interactiveimage.css">
<link rel="stylesheet" href="~/css/mainpage.css">
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<div class="section">
  <h1>Welkom bij de webshop!</h1>

<div class="vesselContainer">
  
  <img src="~/images/vessel.png" class="vessel">

    <div class="popupContainer">
      <div class="popup" onclick="togglePopup1()" id="cat0">
        <div class="sel popuptext" id="myPopup1">
          <div class="catImage">
            <img src="~/images/boat.png" class="categoryImage" id="topImg1">
          </div>
          <div id="menu" class="menu"></div>
        </div>

        <img src="~/images/circle.png" class="category" >
      </div>
    </div>

    <div class="popupContainer">
      <div class="popup" onclick="togglePopup2()" id="cat1">
        <div class="sel popuptext" id="myPopup2">
          <div class="catImage">
            <img src="~/images/boat.png" class="categoryImage" id="topImg2">
          </div>
          <div id="menu2" class="menu"></div>
        </div>

        <img src="~/images/circle.png" class="category" >
      </div>
    </div>
  </div>
</div>

<script>

function otherPage(id) {
  window.location = "/Category?categoryId=" + id
}



function menuToElement(item) {
        const li = document.createElement("li");
       
        if (item.children.length>0) {

            var boxDiv=document.createElement('div');
            boxDiv.className="borderBottom";
            li.appendChild(boxDiv);
            //li.appendChild(document.createElement("br"));
            var _img=document.createElement('img');
            _img.id="~/images/products" + item.image;
            _img.src="images/products/" + item.image;
            _img.onclick = function() {otherPage(item.id)};
             _img.style.height = '64px';
             _img.style.width = '64px';
            boxDiv.appendChild(_img);
            const catSpan = document.createElement("span");
            catSpan.textContent = item.name + " ";
            boxDiv.appendChild(catSpan);
            

            //li.src= item.Image //'\u25BD';
            li.className = "btn btn-primary";
            const span = document.createElement("span");
            span.className  = "fas fa-plus-circle";
            boxDiv.appendChild(span);
            const ul = document.createElement("ul");
            ul.className = "imageDropdownUl";
            for (var i=0; i<item.children.length; i++) {
              var child = item.children[i];
              console.log(item);
              ul.appendChild(menuToElement(child));
            }  

            li.appendChild(ul);
            
        } else {
            //li.appendChild(document.createElement("br"));
            const a = document.createElement("a");
            a.textContent = " " + item.name + " ";
            a.onclick = "hi()";
            li.className = "aTag";
            //li.appendChild(document.createElement("br"));
            var _img=document.createElement('img');
            _img.id="~/images/products" + item.image;
            _img.src="images/products/" + item.image;
             _img.onclick = function() {otherPage(item.id)};
             _img.style.height = '64px';
             _img.style.width = '64px';
            li.appendChild(_img);
            //load a tag after images so image is shown first
            li.appendChild(a);
        }

      return li;


    return ul;

}

var categories = @Html.Raw(Json.Serialize(Model.kaas));

console.log(categories);
for (const item of categories.children){
if (item.name == "Zeilboot"){

const ul = menuToElement(item);
  document.getElementById("menu").appendChild(ul);
  
}
else if (item.name == "Roeiboot"){
  const ul2 = menuToElement(item);
  document.getElementById("menu2").appendChild(ul2);
}
}

$( "span" ).each(function( index ) {
  console.log( index + ": " + $( this ).text() );
});


//var engine = [categories[0]];
//console.log(engine);
//var tire = [categories[1]];



//const ul = menuToElement(categories);
//document.getElementById("menu").appendChild(ul);

//const ul2 = menuToElement(tire);
//document.getElementById("menu2").app, endChild(ul2);


//When the user clicks on <div>, open the popup
for (const item of categories.children){
function togglePopup1() {
    var popup = document.getElementById("myPopup1");
    popup.classList.toggle("show");
    $('.imageDropdownUl').css("display", "none");
    $('#myPopup1').show();
    $('#myPopup2').hide();
    
    //reset image
    var image = "/images/boat.png";
    var topImage = document.getElementById("topImg1");
    var topImage2 = document.getElementById("topImg2");
    topImage.src = image;
    topImage2.src = image;

}

function togglePopup2() {
    var popup = document.getElementById("myPopup2");
    popup.classList.toggle("show");
    $('.imageDropdownUl').css("display", "none");
    $('#myPopup2').show();
    $('#myPopup1').hide();

    //reset image
    var image = "/images/boat.png";
    var topImage = document.getElementById("topImg1");
    var topImage2 = document.getElementById("topImg2");
    topImage.src = image;
    topImage2.src = image;
}

//categories and subcategories onclick function
$(".btn-primary").on('click', function(event){  
    event.stopImmediatePropagation();
    $(this).children('.imageDropdownUl').toggle();
    console.log(this.id);
    //var container = $(".borderBottom").parents();
    //console.log(container);
    //var paling = this.parentNode.parentNode.parentNode;
    //console.log(paling);
    //console.log(this.item.name)
  
});




//dropdown in popup
var txt = $('.txt'),
    options = $('.options');

txt.click(function (e) {
    var dropId = $(this).attr("id");
    e.stopPropagation();


    var content = $(e.target).text();
    console.log(content);
    $('#'+ item.text).show(); 
});


$('body').click(function (e) {
    options.hide();
});
}

//picture on click
$(".borderBottom").on('click', function(event){  
    
    var text = this.firstChild.src;
    var topImage = document.getElementById("topImg1");
    var topImage2 = document.getElementById("topImg2");
    topImage.src = text;
    topImage2.src = text;

});

</script>


<link rel="stylesheet" href="~/css/image.css">

<div class="section">
  <h3>Onlangs toegevoegd</h3>
  <hr>
  <div class="container">
    <div class="row" id="products">
      <div class="col-4">
        @if (products.Count() > 0)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 1].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 1].Title</h5>
                  <div>
                    @if (products[products.Count() - 1].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 1].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 1].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 1].Price</div>
                    }
                    @if (products[products.Count() - 1].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 1].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 1].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 1].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 1].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
      <div class="col-4">
        @if (products.Count() > 1)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 2].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 2].Title</h5>
                  <div>
                    @if (products[products.Count() - 2].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 2].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 2].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 2].Price</div>
                    }
                    @if (products[products.Count() - 2].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 2].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 2].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 2].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 2].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
      <div class="col-4">
        @if (products.Count() > 2)
        {
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <form action="@Url.Action("Index", "ViewProduct")" method="get">
                <div id="container" class="form-group">
                  <img src="@("/images/products/" + products[products.Count() - 3].Image)" id="productImage"><img/>
                  <h5 class="card-title">@products[products.Count() - 2].Title</h5>
                  <div>
                    @if (products[products.Count() - 3].DiscountedPrice != -1)
                    {
                      <div class="row">
                        <div class="col-4-sm">
                          <div id="disabledPrice">€ @products[products.Count() - 3].Price</div>
                        </div>
                        <div class="col-4-sm" style="margin-left: 15px;">
                          <div id="discountPrice">NU VOOR: € @products[products.Count() - 3].DiscountedPrice</div>
                        </div>
                      </div>
                    }
                    else
                    {
                      <div>€ @products[products.Count() - 3].Price</div>
                    }
                    @if (products[products.Count() - 3].Quantity > 0)
                    {
                      <div>@string.Format("Voorraad: {0} stuk(ken)",products[products.Count() - 3].Quantity)</div>
                    }
                    else
                    {
                      <div id="outOfStock">Geen voorraad beschikbaar!</div>
                    }
                  </div>
                  <input type="hidden" name="id" value='@products[products.Count() - 3].Id'/>
                  <input type="submit" class="btn btn-primary" value="Details">
                  @if (products[products.Count() - 3].Quantity > 0)
                  {
                    <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@products[products.Count() - 3].Id" >
                  }
                </div>
              </form>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>


