@using WebApp1.products
@using WebApp1.Mainpage
@model WebApp1.Mainpage.Mainpage;

@{   
    // In case currentCategoryName hasn't been assigned by controller
    if (ViewBag.currentCategoryName == null)
    {
        ViewBag.currentCategoryName = "Alle Producten";
    }
    
    // The code below is used to populate the product page
    // The product page itself consists of 3 columns
    // We must first sort all the products into each column    
    // Afterwards, we populate the page
    List<Productwaarde> col0Items = new List<Productwaarde>();
    List<Productwaarde> col1Items = new List<Productwaarde>();
    List<Productwaarde> col2Items = new List<Productwaarde>();
    
    int currentColumn = 0;
    foreach (Productwaarde item in Model.Page())
    {
        switch (currentColumn)
        {
            case 0:
                col0Items.Add(item);
                currentColumn++;
                break;
            case 1:
                col1Items.Add(item);
                currentColumn++;
                break;
            case 2:
                col2Items.Add(item);
                // Since this is the last column, we reset back to first column
                currentColumn = 0;
                break;
        }
    }
 }

<link rel="stylesheet" href="~/css/mainpage.css">
<div class="row">
    <div class="col-2">
        <div id="categoryArea">
            <div class="categoryTitle">Categorieën</div>
            <form asp-action="Mainpage">
                <div id="container1" class="form-group"></div>
            </form>
            <div>
                <a asp-action="Mainpage">Terug naar alle producten</a>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="container" id="productsArea">
            <h2>@("U bekijkt nu: " + ViewBag.currentCategoryName)</h2>
            <h4>Producten</h4>
            <div class="row" id="products">
                <div class="col-sm">
                    @foreach (Productwaarde item in col0Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <div>
                                            <div>€ @item.Price</div>
                                            @if (item.Quantity > 0)
                                            {
                                                <div>@string.Format("Voorraad: {0} stuk(ken)",item.Quantity)</div>
                                            }
                                            else
                                            {
                                                <div id="outOfStock">Geen voorraad beschikbaar!</div>
                                            }
                                        </div>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        @if (item.Quantity > 0)
                                        {
                                            <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@item.Id" >
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col1Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <div>
                                            <div>€ @item.Price</div>
                                            @if (item.Quantity > 0)
                                            {
                                                <div>@string.Format("Voorraad: {0} stuk(ken)",item.Quantity)</div>
                                            }
                                            else
                                            {
                                                <div id="outOfStock">Geen voorraad beschikbaar!</div>
                                            }
                                        </div>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        @if (item.Quantity > 0)
                                        {
                                            <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@item.Id" >
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col2Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <div>
                                            <div>€ @item.Price</div>
                                            @if (item.Quantity > 0)
                                            {
                                                <div>@string.Format("Voorraad: {0} stuk(ken)",item.Quantity)</div>
                                            }
                                            else
                                            {
                                                <div id="outOfStock">Geen voorraad beschikbaar!</div>
                                            }
                                        </div>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        @if (item.Quantity > 0)
                                        {
                                            <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" asp-route-id="@item.Id" >
                                        }

                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div id="pagination">
                <form class="form-inline my-2 my-lg-0" asp-action="Mainpage">
                    <input type="hidden" name="id" value="@(Model.pageindex - 1)">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Vorige</button>
                </form>
                <form class="form-inline my-2 my-lg-0" asp-action="Mainpage">
                    <input class="form-control" type="hidden" name="id" value="@(Model.pageindex + 1)">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Volgende</button>
                </form>
                <h4>Pagina: @Model.pageindex van @Model.getnumberofpages() </h4>
            </div>
        </div>
    </div>
    
</div>
 
<script type='text/javascript'>
    var names = @Html.Raw(Json.Serialize(ViewData["productsoorten"]));
    var currSel = @Html.Raw(Json.Serialize(ViewBag.currentCategoryName));
    //var serializedUsers = JSON.parse(names);
    function addFields(){
        for (i = 0; i <  names.length; i++) { 
            var container = document.getElementById("container1");
            // Clear previous contents of the container
            //container.removeChild(container.lastChild);
            // Append a node with a random text
            var res = names[i].split("= ");
            var end = res[1].split(" }");
            //container.appendChild(document.createTextNode(end[0]));
                
            // Create an <input> element, set its type and name attributes
            var btn = document.createElement("button");
            btn.type = "submit";
            btn.name = "hi";
            btn.value = end[0];
            btn.innerHTML = end[0];
            
            // If this is the last button, give it a different id
            // The last button has a slightly different styling
            if (i == (names.length - 1)) {
                btn.id = "categoryBtnLast";
            } else {
                btn.id = "categoryBtn";
            }
            
            if (btn.value == currSel) {
                btn.className = "categoryBtnSelected";
            }
            
            // Insert element into container div
            container.appendChild(btn);
        }
    }
    window.onload = addFields;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>



         
