

@using WebApp1.products
@model IEnumerable<WebApp1.products.Productwaarde>
@{
    bool firstColumn = true;
    List<Productwaarde> remainingItems = new List<Productwaarde>();
 }

<link rel="stylesheet" href="~/css/mainpage.css">
<link rel="stylesheet" href="~/css/interactiveimage.css">
@{
    //var hi= (ViewData["productsoorten"]);
    var productst = Context.Session.Get<String>("productsoort");
}


<div class="row">
    <div class="col-2">
        <div id="categoryArea">
            <div class="categoryTitle">Categorieën</div>
            <form asp-action="Mainpage">
                <div id="container1" class="form-group">
                    Select all<input type="radio" name="hi" value="select all"><br>
                </div>
                <div id="container" class="form-group"></div>
                <div class="form-group">
                    <input type="submit" value="Ga naar Categorie" class="btn btn-default" id="btnSelectCategory"/>
                </div>
            </form>
            <div>
                <a asp-action="Index">Terug naar alle producten</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="container" id="productsArea">
        <h2>Boten</h2>


<!-- Interactive Image         -->
<div id="mainDiv" >
  <div class='circle-container container'>

      <a href='#' class='center' id='middle'><img src='~/images/boat.png'></a>
    <div id="cssSelectorRight" class="cssSelector">
      
      <a href='#' class='category' id='deg0'>
           <div class="textDiv">
               
           </div>
           <div class="imgDiv">

           </div>          
      </a>
    </div>
    <div id="cssSelectorBottomRight" class="cssSelector">
      <a href='#' class='category' id='deg36'>
           <div class="textDiv">
               
           </div>
           <div class="imgDiv">

           </div>
      </a>
    </div>
    <div id="cssSelectorBottom1" class="cssSelector">  
       <a href='#' class='category' id='deg72'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>       
       </a>
    </div>
    <div id="cssSelectorBottom2" class="cssSelector">
      <a href='#' class='category' id='deg108'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>   
      </a>
    </div>
    <div id="cssSelectorBottomLeft" class="cssSelector">
      <a href='#' class='category' id='deg144'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
    <div id="cssSelectorLeft" class="cssSelector">
      <a href='#' class='category' id='deg180'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
    <div id="cssSelectorTopLeft" class="cssSelector">
      <a href='#' class='category' id='deg216'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
    <div id="cssSelectorTop1" class="cssSelector">
      <a href='#' class='category' id='deg252'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
    <div id="cssSelectorTop2" class="cssSelector">
      <a href='#' class='category' id='deg288'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
    <div id="cssSelectorTopRight" class="cssSelector">
      <a href='#' class='category' id='deg324'>
           <div class="textDiv">
               <!-- text from array -->
           </div>
           <div class="imgDiv">
               <!-- img from array -->
           </div>             
      </a>
    </div>
  </div>
</div>
    

        <h4>Producten</h4>
        <div class="row" id="products">
        <div class="col-sm">

            @foreach (var item in Model)
            {
                if (firstColumn)
                {
                    <div class="card" style="width: 25rem;">
                        <div class="card-body">
                            <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                <div id="container" class="form-group">
                                    <img src="~/images/boat.jpg" id="productImage"><img/>
                                    <h5 class="card-title">@item.Title</h5>
                                    <p class="card-text">€ @item.Price</p>
                                    <input type="hidden" name="id" value='@item.Id'/>
                                    <input type="submit" class="btn btn-primary" value="Details">
                                </div>
                            </form>
                        </div>
                    </div>
                    firstColumn = false;
                }
                else
                {
                    remainingItems.Add(item);
                    firstColumn = true;
                }
            }
        </div>
        <div class="col-sm">
            @foreach (Productwaarde item in remainingItems)
            {
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <form action="@Url.Action("Index", "ViewProduct")" method="get">
                            <div id="container" class="form-group">
                                <img src="~/images/boat.jpg" id="productImage"><img/>
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">€ @item.Price</p>
                                <input type="hidden" name="id" value='@item.Id'/>
                                <input type="submit" class="btn btn-primary" value="Details">
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    </div>
</div>
<script type='text/javascript'>
var names = @Html.Raw(Json.Serialize(ViewData["productsoorten"]));
    //var serializedUsers = JSON.parse(names);
        function addFields(){
		for (i = 0; i <  names.length; i++) { 
            var container = document.getElementById("container1");
            // Clear previous contents of the container
                //container.removeChild(container.lastChild);
                // Append a node with a random text
                var res = names[i].split("= ");
                var end = res[1].split(" }");
                container.appendChild(document.createTextNode(end[0]));
                
				
                // Create an <input> element, set its type and name attributes
                var radio = document.createElement("input");
				radio.type = "radio";
				radio.name = "hi";
				radio.value = end[0];
                container.appendChild(radio);
                // Append a line break 
                container.appendChild(document.createElement("br"));
				}
			}
			window.onload = addFields;
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"></script>
<script src="~/js/interactiveimage.js"></script>

         
