

@using WebApp1.products
@model IEnumerable<WebApp1.products.Productwaarde>
@{
    int currentColumn = 0;
    List<Productwaarde> col2Items = new List<Productwaarde>();
    List<Productwaarde> col3Items = new List<Productwaarde>();
 }

<link rel="stylesheet" href="~/css/mainpage.css">

@{
    //var hi= (ViewData["productsoorten"]);
    var productst = Context.Session.Get<String>("productsoort");
}


<div class="row">
    <div class="col-2">
        <div id="categoryArea">
            <div class="categoryTitle">Categorieën</div>
            <form asp-action="Mainpage">
                <div id="container1" class="form-group">
                    Select all<input type="radio" name="hi" value="select all"><br>
                </div>
                <div id="container" class="form-group"></div>
                <div class="form-group">
                    <input type="submit" value="Ga naar Categorie" class="btn btn-default" id="btnSelectCategory"/>
                </div>
            </form>
            <div>
                <a asp-action="Index">Terug naar alle producten</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="container" id="productsArea">
            <h2>Boten</h2>
            <h4>Producten</h4>
            <div class="row" id="products">
                <div class="col-sm">
                    @foreach (var item in Model)
                    {
                        if (currentColumn == 0)
                        {
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                        <div id="container" class="form-group">
                                            <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">€ @item.Price</p>
                                            <input type="hidden" name="id" value='@item.Id'/>
                                            <input type="submit" class="btn btn-primary" value="Details">
                                            <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >
                                        </div>
                                    </form>
                                </div>
                            </div>
                            currentColumn++;
                        }
                        else
                        {
                            switch (currentColumn)
                            {
                                case 1: 
                                    col2Items.Add(item);
                                    currentColumn++;
                                    break;
                                case 2: 
                                    col3Items.Add(item);
                                    currentColumn = 0;
                                    break;
                            }
                        }
                    }
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col2Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">€ @item.Price</p>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col3Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">€ @item.Price</p>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >

                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'>
var names = @Html.Raw(Json.Serialize(ViewData["productsoorten"]));
    //var serializedUsers = JSON.parse(names);
        function addFields(){
		for (i = 0; i <  names.length; i++) { 
            var container = document.getElementById("container1");
            // Clear previous contents of the container
                //container.removeChild(container.lastChild);
                // Append a node with a random text
                var res = names[i].split("= ");
                var end = res[1].split(" }");
                container.appendChild(document.createTextNode(end[0]));
                
				
                // Create an <input> element, set its type and name attributes
                var radio = document.createElement("input");
				radio.type = "radio";
				radio.name = "hi";
				radio.value = end[0];
                container.appendChild(radio);
                // Append a line break 
                container.appendChild(document.createElement("br"));
				}
			}
			window.onload = addFields;
</script>


         
