@using WebApp1.Models
@using WebApp1.Products
@model IEnumerable<WebApp1.Products.Productwaarde>
@{
    int currentColumn = 0;
    List<Productwaarde> col2Items = new List<Productwaarde>();
    List<Productwaarde> col3Items = new List<Productwaarde>();
 }

<link rel="stylesheet" href="~/css/mainpage.css">

@{
    //var hi= (ViewData["productsoorten"]);
    var productst = Context.Session.Get<String>("productsoort");
}


<div class="row">
    
    <div class="col-8">
        <div class="container" id="productsArea">
            <h2>Boten</h2>
            <h4>Producten</h4>
            <div class="row" id="products">
                <div class="col-sm">
               
                    @foreach (var item in Model)
                    {
                        if (currentColumn == 0)
                        {
                            <div class="card" style="width: 20rem;">
                                <div class="card-body">
                                    <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                        <div id="container" class="form-group">
                                            <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">€ @item.Price</p>
                                            <input type="hidden" name="id" value='@item.Id'/>
                                            <input type="submit" class="btn btn-primary" value="Details">
                                            <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >
                                        </div>
                                    </form>
                                </div>
                            </div>
                            currentColumn++;
                        }
                        else
                        {
                            switch (currentColumn)
                            {
                                case 1: 
                                    col2Items.Add(item);
                                    currentColumn++;
                                    break;
                                case 2: 
                                    col3Items.Add(item);
                                    currentColumn = 0;
                                    break;
                            }
                        }
                    }
                
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col2Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">€ @item.Price</p>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm">
                    @foreach (Productwaarde item in col3Items)
                    {
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <form action="@Url.Action("Index", "ViewProduct")" method="get">
                                    <div id="container" class="form-group">
                                        <img src="@("/images/products/" + item.Image)" id="productImage"><img/>
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">€ @item.Price</p>
                                        <input type="hidden" name="id" value='@item.Id'/>
                                        <input type="submit" class="btn btn-primary" value="Details">
                                        <input type="submit" class="btn btn-primary" value="Zet in winkelwagen" asp-controller="cart" asp-action="buy" >

                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
