@{
    
    ViewProductModel viewProductModel = (ViewProductModel) ViewData["ProductModel"];
    ViewData["Title"] = viewProductModel.Name;
    List<ViewProductAttributes> attributes = (List<ViewProductAttributes>) ViewData["ProductAttributeModel"];
    string imagePath = "/images/products/" + viewProductModel.Image;
    bool inStock = viewProductModel.Quantity > 0;
}
<link rel="stylesheet" href="~/css/view_product.css">
<div class="pageBackground">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            @for (int i = viewProductModel.CategoryPath.Count() - 1; i >= 0; i--)
            {
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Category" asp-route-categoryId="@viewProductModel.CategoryPath[i][0]">@viewProductModel.CategoryPath[i][1]</a></li>                                                                                                                      
            }
            <li class="breadcrumb-item active" aria-current="page">@viewProductModel.Name</li>
        </ol>
    </nav>
    <div class="row" id="productHeader">
        <div class="col-6">
            <img src="@imagePath" height="300" width="400" class="productImage"></img>
        </div>
        <div class="col-6" id="productContent">
            <h2>@viewProductModel.Name</h2>
            <div class="description">
                <div class="descriptionTitle">BESCHRIJVING</div>
                <div class="descriptionContent">@viewProductModel.Description</div>
            </div>
            @if (viewProductModel.DiscountedPrice != "-1")
            {
                <div id="productInSaleNotification">PRODUCT IS IN DE AANBIEDING!</div>
            }
            @if (viewProductModel.DiscountedPrice == "-1")
            {
                <div id="price">@viewProductModel.Price</div>
            }
            else
            {
                <div class="row">
                    <div class="col">
                        <div id="disabledPrice">@viewProductModel.Price</div>
                    </div>
                    <div class="col">
                        <div id="discountPrice">@viewProductModel.DiscountedPrice</div>
                    </div>
                </div>
            }
            @if (inStock)
            {
                <div id="quantity">@("Voorraad: "+viewProductModel.Quantity)</div>
            }
            else
            {
                <div id="outOfStock">Geen voorraad meer beschikbaar!</div>
            }
            <form method="get">
                <input type="hidden" name="id" value='@viewProductModel.Id'/>
                @if (inStock)
                {
                    <input type="submit" formaction="@Url.Action("buy", "Cart")" class="CartBtn" value="Zet in Winkelwagen">
                }     
                @if (ViewBag.alreadyInFav)
                {
                    <input type="hidden" name="returnUrl" value="@Url.Action("Index","ViewProduct", new {id=viewProductModel.Id})"/>
                    <input type="submit" formaction="@Url.Action("RemoveProduct", "Favorites")" class="CartBtn" value="Verwijder uit Favorieten"> 
                }
                else
                {
                    <input type="submit" formaction="@Url.Action("AddProduct", "Favorites")" class="CartBtn" value="Zet in Favoriet">
                }
            </form>
        </div>
    </div>
    <hr>
    @if (attributes.Count > 0)
    {
        <h3>Product eigenschappen</h3>
        <div id="tableContainer">
            <table id="table">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (ViewProductAttributes item in attributes)
                {
                    <tr>
                        <td>@item.AttributeName</td>
                        <td>@item.AttributeValue</td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <h3 id="no-attributes-warning">Geen product eigenschappen beschikbaar!</h3>
    }

</div>