@{
    ViewProductModel viewProductModel = (ViewProductModel) ViewData["ProductModel"];
    List<ViewProductAttributes> attributes = (List<ViewProductAttributes>) ViewData["ProductAttributeModel"];
    string imagePath = "/images/products/" + viewProductModel.Image;
}
<link rel="stylesheet" href="~/css/view_product.css">
<div class="pageBackground">
    <div id="category">Categorie: @viewProductModel.Category</div>
    <div class="row" id="productHeader">
        <div class="col-6">
            <img src="@imagePath" height="300" width="400" class="productImage"></img>
        </div>
        <div class="col-6" id="productContent">
            <h2>@viewProductModel.Name</h2>
            <div class="description">
                <div class="descriptionTitle">BESCHRIJVING</div>
                <div class="descriptionContent">@viewProductModel.Description</div>
            </div>
            <div id="price">@viewProductModel.Price</div>
            <form action="@Url.Action("buy", "Cart")" method="get">
                <input type="hidden" name="id" value='@viewProductModel.Id'/>
                <input type="submit" class="CartBtn" value="Zet in Winkelwagen">
            </form>
        </div>
    </div>
    <hr>
    @if (attributes.Count > 0)
    {
        <h3>Product eigenschappen</h3>
        <div id="tableContainer">
            <table id="table">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (ViewProductAttributes item in attributes)
                {
                    <tr>
                        <td>@item.AttributeName</td>
                        <td>@item.AttributeValue</td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <h3 id="no-attributes-warning">Geen product eigenschappen beschikbaar!</h3>
    }

</div>