@using WebApp1.products
<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1" id="table">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Photo</th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
                <td>@item.Product.Id</td>
                <td>@item.Product.Title</td>
                <td>@item.Quantity</td>
                <td>@item.Product.Price</td>
                <td></td>
                <td>@(item.Product.Price * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <a asp-controller="Home" asp-action="index">Continue Shopping</a>
    <br>
    <a asp-controller="cart" asp-action="pay">checkOut</a>
</div>

