@using WebApp1.Models
@model WebApp1.Models.Productwaarde
<link rel="stylesheet" href="~/css/shopping_cart.css">
<div class="pageRoot">
    <h3>Winkelmand</h3>
    <hr>
    <table cellpadding="2" cellspacing="2" border="1" id="table">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Kwantiteit</th>
            <th>Prijs</th>
            <th>Foto</th>
            <th></th>
            <th>Subtotaal</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td>@item.Product.Id</td>
                <td>@item.Product.Title</td>
                <td>
                    @{ var quantity = @item.Quantity; } 
                   
                    @quantity 
                    <a  asp-route-id="@item.Product.Id" asp-controller="cart" asp-action="plus" >+</a>
                    @if(quantity > 1){
                    <a  asp-route-id="@item.Product.Id" asp-controller="cart" asp-action="min" >-</a>

                    }
                
                </td>
                <td>@item.Product.Price</td>
                <td><img src="~/images/products/@item.Product.Image" width="60" id="productImage"><img/></td>
                <td><a  asp-controller="cart" asp-action="Remove" asp-route-id="@item.Product.Id" >Verwijderen</a></td>
                <td>@(item.Product.Price * quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Totaal</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br>
    <form  method="get">
     <input type="submit" class="btn btn-primary"  value="Doorgaan met shoppen" asp-controller="Home" asp-action="index" >
     <input type="submit" class="btn btn-primary float-right"  value="Checkout" asp-controller="cart" asp-action="CreatePDF">
    </form>
    
</div>

