@using WebApp1.CreateproductModel
@model WebApp1.CreateproductModel.CreateproductModel

@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Product aanmaken";
}

<link rel="stylesheet" href="~/css/product_creation_generic.css">
<script type='text/javascript'>
    function shhow(s){
        if (document.getElementById(s).style.display == "block"){
            document.getElementById(s).style.display = "none";
        }
        else{
            document.getElementById(s).style.display = "block";
        }

    }

	var i=0;

        function addFields(){
            var container = document.getElementById("container");
            // Clear previous contents of the container
            //container.removeChild(container.lastChild);
            // Append a node with a random text
            //container.appendChild(document.createTextNode("Attribute "+ i));

                
				
            // Create an <input> element, set its type and name attributes
            container.appendChild(document.createTextNode("Extra Attribuut "+ i));

            var input = document.createElement("input");
            input.name= "newcustom["+i+"].extraAtribute.Name";
            input.setAttribute("class","form-control");
            input.id="newcustom["+i+"].extraAtribute.Name";
            input.type="text";
            input.value="";
            input.placeholder="Attribuut Naam";


                


            var radioN = document.createElement("input");
				radioN.type = "radio";
                radioN.id = "newcustom["+i+"].extraAtribute.Type";
				radioN.name = "newcustom["+i+"].extraAtribute.Type";
                radioN.checked = true;
				radioN.value = "number";
    

             var radioS = document.createElement("input");
				radioS.type = "radio";
                radioS.id = "newcustom["+i+"].extraAtribute.Type";
				radioS.name = "newcustom["+i+"].extraAtribute.Type";
				radioS.value = "string";
                

            var input3 = document.createElement("input");
            input3.name= "newcustom["+i+"].extraAtributewaarde.Waarde";
            input3.setAttribute("class", "form-control");
            input3.id="newcustom["+i+"].extraAtributewaarde.Waarde";
            input3.type="text";
            input3.value="";
            input3.placeholder="Waarde";
            input3.style.marginTop = "10px";


               
            container.appendChild(input);
            container.appendChild(document.createTextNode("Getal"));
            container.appendChild(radioN);
            container.appendChild(document.createElement("br"));
             container.appendChild(document.createTextNode("Tekst"));
            container.appendChild(radioS);
            container.appendChild(input3);
            // Append a line break 
            container.appendChild(document.createElement("br"));
            i++;
           

        }
    </script> 
<form asp-action="Create3" enctype="multipart/form-data">    
<div class="pageRoot">
    <h2>Product aanmaken</h2>
    <h4>Standaard attributen</h4>
    <h6>*Deze velden moeten worden ingevuld</h6>
    <hr />

   
    <div class="row">
        <div class="col-md-12">
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.Title" class="control-label">Naam</label>
                    <input asp-for="Product.Title" class="form-control" placeholder="Title"/>
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="control-label">Prijs</label>
                    <input asp-for="Product.Price" class="form-control" placeholder="Price"/>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Product.Quantity" class="control-label">Kwantiteit</label>
                    <input asp-for="Product.Quantity" class="form-control" placeholder="Quantity"/>
                    <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input asp-for="Product.CategoryId" class="form-control" placeholder="ProductsoortId" type="hidden"  value= '@Model.Product.Id' />
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                     <input asp-for="Product.DiscountedPrice" class="form-control" placeholder="ProductsoortId" type="hidden"  value= "-1" />
                    <span asp-validation-for="Product.DiscountedPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label">Beschrijving</label>
                    <input asp-for="Product.Description" class="form-control" placeholder="Description"/>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <label asp-for="Product.Image" class="control-label">Plaatje</label>
                <input asp-for="Product.Image" type="file" Class="form-control-file" placeholder="Image"/>
                <span asp-validation-for="Product.Image" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
                @if(Model.Attribuutsoorts.Count!=0){
                    <div class="pageRoot">
                     <h4>Categorie attributen</h4>
                    <h6>*Deze velden moeten worden ingevuld</h6>
                    <hr />
                    @{var i = 0;}
                    @foreach (var item in Model.Attribuutsoorts)
                        {
                        
                        <div class="form-group">
                            <label class="control-label">@item.Name, @item.Type </label>
                            <input type="text"  class="form-control" name="Attribuutsoorts[@i].AttributeValues[0].Waarde"/>
                            <span asp-validation-for="Attribuutsoorts[@i].AttributeValues[0].Waarde" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].AttributeValues[0].AttributeTypeId" value='@item.Id'/>
                        </div>

                        <div class="form-group">
                            <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Name" value='@item.Name'/>
                        </div>

                        <div class="form-group">
                            <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Type" value='@item.Type'/>
                        </div>
                        i = i +1;
                        }
                    </div>
                }
               
                    
                    <div class="pageRoot">
                    <h4>Optionele attributen </h4><h6>*Deze velden zijn optioneel dus hoeven niet worden ingevuld</h6>
                    <hr />
                    <br>
                    @if(Model.AcustomAtributesall.Count != 0){
                         <h5>Lijst met alle attributen</h5>
                    <h6>*U kunt ervoor kiezen om een attribuut van een andere categorie uit de onderstaande lijst ook bij u product te zetten</h6>
                    <h6>*Klik op een onderstaande button om te zien welke attributen de categorie heeft</h6>
                    <h6>*U voegt een attribuut toe door de checkbox aan te vinken en de bijhorende waarde in te vullen</h6>
                    <hr />
                        <label class="control-label"></label>
                        
                        
                    }
                    
                    @for (var a = 0; a < Model.AcustomAtributesall.Count; a++)
                    {
                        
                        <br><label class="control-label">@Model.AcustomAtributesall[a].productSoort.Naam</label>
                         <div class="form-group">
                         <input id="show" class="btn btn-default" type="button" value="Toon bestaande custom attributen" onclick="shhow(@a)" />
                        </div>
                        <div id="@a" style="display: none;">
                        @for (var aa = 0; aa < Model.AcustomAtributesall[a].customAtributes.Count; aa++)
                        {
                        <div class="form-group">
                        <input type="checkbox" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].selected"  />@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Name, @Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Type 
                         </div>
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Id" />
                        </div> 
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Name" />
                        </div> 
                        <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Type" />
                        </div> 

                         <div class="form-group">
                        <input type="text" asp-for="@Model.AcustomAtributesall[a].cattribuutwaarde[aa].Waarde" />
                        </div>
                        
                        <hr>   
                        } 
                        
                        </div>
                        
                                                                                                      
                    }
                    <br>
                    <br>
                    <h5>Nieuw attribuut</h5>
                    <h6>*U attribuut niet in bovenstaande lijst gevonden? Maak het attribuut dan hierbeneden aan door op de knop te klikken</h6>
                    <h6>*Deze velden moeten worden ingevuld</h6>
                    <hr />
                
                 <div id="container" class="form-group"></div>
                 <div class="form-group">
                     
                    <input id="AddAtribute" class="btn btn-default" type="button" value="Voeg attribuut toe" onclick="addFields()" />
                    
                 </div>
                 </div>
                <div class="pageRoot">
                <div class="form-group">
                     <h4>Maak product aan</h4>
                    <h6>*Wanneer u op onderstaande knop klikt word het product aangemaakt</h6>
                     <hr />
                    <input type="submit" value="Aanmaken" class="btn btn-primary" />
                </div>
                
                
            
            </form>
        

    <div>
        <a asp-action="Create">Terug naar product categorien</a>
    </div>
    </div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}