@model WebApp1.Models.AddCategory
<link rel="stylesheet" href="~/css/product_creation_generic.css">
 <script type='text/javascript'>
	var i=0;
        function addFields(){
            var container = document.getElementById("container");
            // Clear previous contents of the container
            //container.removeChild(container.lastChild);
            // Append a node with a random text
            //container.appendChild(document.createTextNode("Attribute "+ i));

                
				
            // Create an <input> element, set its type and name attributes
            container.appendChild(document.createTextNode("Attribute "+ i));

            var input = document.createElement("input");
            input.name= "productsoort.Attribuutsoort["+i+"].Attrbuut";
            input.setAttribute("class","form-control");
            input.id="productsoort.Attribuutsoort["+i+"].Attrbuut";
            input.type="text";
            input.value="";
            input.placeholder="Attribuut Naam";


            var radioN = document.createElement("input");
				radioN.type = "radio";
                radioN.id = "productsoort.Attribuutsoort["+i+"].Type";
				radioN.name = "productsoort.Attribuutsoort["+i+"].Type";
                radioN.checked = true;
				radioN.value = "number";
    

             var radioS = document.createElement("input");
				radioS.type = "radio";
                radioS.id = "productsoort.Attribuutsoort["+i+"].Type";
				radioS.name = "productsoort.Attribuutsoort["+i+"].Type";
				radioS.value = "string";
                
                
            /*
            var input2 = document.createElement("input");
            input2.name= "productsoort.Attribuutsoort["+i+"].Type";
            input2.setAttribute("class", "form-control");
            input2.id="productsoort.Attribuutsoort["+i+"].Type";
            input2.type="text";
            input2.value="";
            input2.placeholder="Type";
            input2.style.marginTop = "10px";
            */

            
               
            container.appendChild(input);
            container.appendChild(document.createTextNode("Getal"));
            container.appendChild(radioN);
            container.appendChild(document.createElement("br"));
             container.appendChild(document.createTextNode("Tekst"));
            container.appendChild(radioS);
            // Append a line break 
            container.appendChild(document.createElement("br"));
            i++;

        }
    </script>
<div class="pageRoot">
    <h2>Product Categorie</h2>

    <h4>Aanmaken</h4>
    <hr />
    
                
                  
            
     @ViewData["message"]   
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="@Model.productsoort.Naam" class="control-label"></label>
            <input asp-for="@Model.productsoort.Naam" class="form-control" placeholder="Categorie Naam"/>
            <span asp-validation-for="@Model.productsoort.Naam" class="text-danger"></span>
        </div>
         <div class="form-group">
                <input asp-for="@Model.productsoort.Image" type="file" Class="form-control" placeholder="Image"/>
                <span asp-validation-for="@Model.productsoort.Image" class="text-danger"></span>
        </div>
       <div id="categoryFormContent" class = "checkbox checkboxlist">
           <p>Kies de bovenliggende categorie(n) uit de onderstaande lijst</p>
                    @for (var i = 0; i < Model.parents.Count; i++)
                    {
                        <input type="checkbox" asp-for="@Model.parents[i].selected"  />@Model.parents[i].Productsoorts.Naam
                        <input type="hidden" asp-for="@Model.parents[i].Productsoorts.Id" /> 
                        <hr>                                                                                  
                    }
        </div>
       
        <div id="container" class="form-group"></div>

        <div class="form-group">
            <input id="AddAtribute" class="btn" type="button" value="Voeg Product eigenchap toe" onclick="addFields()" />
        </div>
        <div class="form-group">
            <hr>
            <input type="submit" value="Aanmaken" class="btn btn-primary"/>
        </div>          
    </form>
    <div>
        <a asp-action="Index" asp-controller="CategoryList">Terug naar categorie lijst</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}