@using WebApp1.CreateproductModel
@model WebApp1.CreateproductModel.CreateproductModel

@using Microsoft.AspNetCore.Http


<link rel="stylesheet" href="~/css/product_creation_generic.css">
<script type='text/javascript'>


	var i=0;
        function addFields(){
            var container = document.getElementById("container");
            // Clear previous contents of the container
            //container.removeChild(container.lastChild);
            // Append a node with a random text
            //container.appendChild(document.createTextNode("Attribute "+ i));

                
				
            // Create an <input> element, set its type and name attributes
            container.appendChild(document.createTextNode("Attribute "+ i));

            var input = document.createElement("input");
            input.name= "newcustom["+i+"].extraAtribute.Attrbuut";
            input.setAttribute("class","form-control");
            input.id="newcustom["+i+"].extraAtribute.Attrbuut";
            input.type="text";
            input.value="";
            input.placeholder="Attribuut Naam";

                


            var radioN = document.createElement("input");
				radioN.type = "radio";
                radioN.id = "newcustom["+i+"].extraAtribute.Type";
				radioN.name = "newcustom["+i+"].extraAtribute.Type";
                radioN.checked = true;
				radioN.value = "number";
    

             var radioS = document.createElement("input");
				radioS.type = "radio";
                radioS.id = "newcustom["+i+"].extraAtribute.Type";
				radioS.name = "newcustom["+i+"].extraAtribute.Type";
				radioS.value = "string";
                

            var input3 = document.createElement("input");
            input3.name= "newcustom["+i+"].extraAtributewaarde.waarde";
            input3.setAttribute("class", "form-control");
            input3.id="newcustom["+i+"].extraAtributewaarde.waarde";
            input3.type="text";
            input3.value="";
            input3.placeholder="Waarde";
            input3.style.marginTop = "10px";
               
            container.appendChild(input);
            container.appendChild(document.createTextNode("Getal"));
            container.appendChild(radioN);
            container.appendChild(document.createElement("br"));
             container.appendChild(document.createTextNode("Tekst"));
            container.appendChild(radioS);
            container.appendChild(input3);
            // Append a line break 
            container.appendChild(document.createElement("br"));
            i++;

        }
    </script> 
<div class="pageRoot">
    <h2>Create</h2>

    <h4>Products</h4>
    <hr />

   
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="productwaarde.Title" class="control-label"></label>
                    <input asp-for="productwaarde.Title" class="form-control" placeholder="Title"/>
                    <span asp-validation-for="productwaarde.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="productwaarde.Price" class="control-label"></label>
                    <input asp-for="productwaarde.Price" class="form-control" placeholder="Price"/>
                    <span asp-validation-for="productwaarde.Price" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="productwaarde.Quantity" class="control-label"></label>
                    <input asp-for="productwaarde.Quantity" class="form-control" placeholder="Quantity"/>
                    <span asp-validation-for="productwaarde.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input asp-for="productwaarde.ProductsoortId" class="form-control" placeholder="ProductsoortId" type="hidden"  value= '@Model.productwaarde.Id' />
                    <span asp-validation-for="productwaarde.ProductsoortId" class="text-danger"></span>
                     <input asp-for="productwaarde.DiscountedPrice" class="form-control" placeholder="ProductsoortId" type="hidden"  value= "-1" />
                    <span asp-validation-for="productwaarde.DiscountedPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="productwaarde.Description" class="control-label"></label>
                    <input asp-for="productwaarde.Description" class="form-control" placeholder="Description"/>
                    <span asp-validation-for="productwaarde.Description" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <input asp-for="productwaarde.Image" type="file" Class="form-control" placeholder="Image"/>
                <span asp-validation-for="productwaarde.Image" class="text-danger"></span>
                </div>
                @{var i = 0;}
                 @foreach (var item in Model.Attribuutsoorts)
                    {
                    
                    <div class="form-group">
                        <label class="control-label">@item.Attrbuut</label>
                        <input type="text"  class="form-control" name="Attribuutsoorts[@i].Attribuutwaarde[0].Waarde"/>
                        <span asp-validation-for="Attribuutsoorts[@i].Attribuutwaarde[0].Waarde" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Attribuutwaarde[0].AttribuutsoortId" value='@item.Id'/>
                    </div>
                    i = i +1;
                    }
                    <label class="control-label">Categorie attributen</label>
                    @for (var a = 0; a < Model.AcustomAtributesproductsoort.Count; a++)
                    {
                        <div class="form-group">
                        <input type="checkbox" asp-for="@Model.AcustomAtributesproductsoort[a].selected"  />@Model.AcustomAtributesproductsoort[a].customAtribute.Attrbuut
                         </div>
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesproductsoort[a].customAtribute.Attrbuut" />
                        </div> 
                         <div class="form-group">
                        <input type="text" asp-for="@Model.AcustomAtributesproductsoort[a].cattribuutwaarde.Waarde" />
                        </div>
                        <hr>    
                                                                                                      
                    }
                    <label class="control-label">Alle attributen</label>
                    @for (var a = 0; a < Model.AcustomAtributesall.Count; a++)
                    {
                        <div class="form-group">
                        <input type="checkbox" asp-for="@Model.AcustomAtributesall[a].selected"  />@Model.AcustomAtributesall[a].customAtribute.Attrbuut
                         </div>
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtribute.Attrbuut" />
                        </div> 
                         <div class="form-group">
                        <input type="text" asp-for="@Model.AcustomAtributesall[a].cattribuutwaarde.Waarde" />
                        </div>
                        <hr>    
                                                                                                      
                    }
                
                 <div id="container" class="form-group"></div>
                 <div class="form-group">
                    <input id="AddAtribute" class="btn" type="button" value="Voeg Custom attribuut toe" onclick="addFields()" />
                 </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
                
            
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}