@using WebApp1.CreateproductModel
@model WebApp1.CreateproductModel.CreateproductModel

@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Product aanmaken";
}

<link rel="stylesheet" href="~/css/product_creation_generic.css">
<script type='text/javascript'>
    function shhow(s){
        if (document.getElementById(s).style.display == "block"){
            document.getElementById(s).style.display = "none";
        }
        else{
            document.getElementById(s).style.display = "block";
        }

    }

	var i=0;
        function addFields(){
            var container = document.getElementById("container");
            // Clear previous contents of the container
            //container.removeChild(container.lastChild);
            // Append a node with a random text
            //container.appendChild(document.createTextNode("Attribute "+ i));

                
				
            // Create an <input> element, set its type and name attributes
            container.appendChild(document.createTextNode("Custom Atribute "+ i));

            var input = document.createElement("input");
            input.name= "newcustom["+i+"].extraAtribute.Attrbuut";
            input.setAttribute("class","form-control");
            input.id="newcustom["+i+"].extraAtribute.Attrbuut";
            input.type="text";
            input.value="";
            input.placeholder="Attribuut Naam";


                


            var radioN = document.createElement("input");
				radioN.type = "radio";
                radioN.id = "newcustom["+i+"].extraAtribute.Type";
				radioN.name = "newcustom["+i+"].extraAtribute.Type";
                radioN.checked = true;
				radioN.value = "number";
    

             var radioS = document.createElement("input");
				radioS.type = "radio";
                radioS.id = "newcustom["+i+"].extraAtribute.Type";
				radioS.name = "newcustom["+i+"].extraAtribute.Type";
				radioS.value = "string";
                

            var input3 = document.createElement("input");
            input3.name= "newcustom["+i+"].extraAtributewaarde.waarde";
            input3.setAttribute("class", "form-control");
            input3.id="newcustom["+i+"].extraAtributewaarde.waarde";
            input3.type="text";
            input3.value="";
            input3.placeholder="Waarde";
            input3.style.marginTop = "10px";


               
            container.appendChild(input);
            container.appendChild(document.createTextNode("Getal"));
            container.appendChild(radioN);
            container.appendChild(document.createElement("br"));
             container.appendChild(document.createTextNode("Tekst"));
            container.appendChild(radioS);
            container.appendChild(input3);
            // Append a line break 
            container.appendChild(document.createElement("br"));
            i++;

        }
    </script> 
<div class="pageRoot">
    <h2>Product aanmaken</h2>

    <h4>Producten</h4>
    <hr />

   
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create3" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Product.Title" class="control-label">Titel</label>
                    <input asp-for="Product.Title" class="form-control" placeholder="Title"/>
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Product.Price" class="control-label">Prijs</label>
                    <input asp-for="Product.Price" class="form-control" placeholder="Price"/>
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="Product.Quantity" class="control-label">Kwantiteit</label>
                    <input asp-for="Product.Quantity" class="form-control" placeholder="Quantity"/>
                    <span asp-validation-for="Product.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    
                    <input asp-for="Product.ProductsoortId" class="form-control" placeholder="ProductsoortId" type="hidden"  value= '@Model.Product.Id' />
                    <span asp-validation-for="Product.ProductsoortId" class="text-danger"></span>
                     <input asp-for="Product.DiscountedPrice" class="form-control" placeholder="ProductsoortId" type="hidden"  value= "-1" />
                    <span asp-validation-for="Product.DiscountedPrice" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Product.Description" class="control-label">Beschrijving</label>
                    <input asp-for="Product.Description" class="form-control" placeholder="Description"/>
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>

                 <div class="form-group">
                <input asp-for="Product.Image" type="file" Class="form-control-file" placeholder="Image"/>
                <span asp-validation-for="Product.Image" class="text-danger"></span>
                </div>
                @{var i = 0;}
                 @foreach (var item in Model.Attribuutsoorts)
                    {
                    
                    <div class="form-group">
                        <label class="control-label">@item.Attrbuut, @item.Type </label>
                        <input type="text"  class="form-control" name="Attribuutsoorts[@i].Attribuutwaarde[0].Waarde"/>
                        <span asp-validation-for="Attribuutsoorts[@i].Attribuutwaarde[0].Waarde" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Attribuutwaarde[0].AttribuutsoortId" value='@item.Id'/>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Attrbuut" value='@item.Attrbuut'/>
                    </div>

                    <div class="form-group">
                        <input type="hidden"  class="form-control" name="Attribuutsoorts[@i].Type" value='@item.Type'/>
                    </div>
                    i = i +1;
                    }
                    
                    <label class="control-label">Alle custom attributen</label>
                    @for (var a = 0; a < Model.AcustomAtributesall.Count; a++)
                    {
                        
                        <br><label class="control-label">@Model.AcustomAtributesall[a].productSoort.Naam</label>
                         <div class="form-group">
                         <input id="show" class="btn btn-default" type="button" value="Toon bestaande custom attributen" onclick="shhow(@a)" />
                        </div>
                        <div id="@a" style="display: none;">
                        @for (var aa = 0; aa < Model.AcustomAtributesall[a].customAtributes.Count; aa++)
                        {
                        <div class="form-group">
                        <input type="checkbox" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].selected"  />@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Attrbuut, @Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Type 
                         </div>
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Id" />
                        </div> 
                         <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Attrbuut" />
                        </div> 
                        <div class="form-group">
                        <input type="hidden" asp-for="@Model.AcustomAtributesall[a].customAtributes[aa].customAtribute.Type" />
                        </div> 

                         <div class="form-group">
                        <input type="text" asp-for="@Model.AcustomAtributesall[a].cattribuutwaarde[aa].Waarde" />
                        </div>
                        
                        <hr>   
                        } 
                        </div>
                                                                                                      
                    }
                
                 <div id="container" class="form-group"></div>
                 <div class="form-group">
                    <input id="AddAtribute" class="btn btn-default" type="button" value="Voeg Custom attribuut toe" onclick="addFields()" />
                 </div>
                <div class="form-group">
                    <input type="submit" value="Aanmaken" class="btn btn-primary" />
                </div>
                
            
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Create">Terug naar product categorien</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}