@model WebApp1.Models.EditproductsoortModel2
<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <h2>Product Categorie</h2>

    <h4>Updaten</h4>
    <hr />

            <form asp-action="Editproductsoort">
                <div class="form-group">
                        <label asp-for="@Model.oldproductsoort" class="control-label">@Model.oldproductsoort</label>
                        <input asp-for="@Model.newproductsoort" class="form-control" placeholder="@Model.oldproductsoort"/>
                        <span asp-validation-for="@Model.newproductsoort" class="text-danger"></span>
                </div>
                <div class="form-group">
                        <input asp-for="@Model.oldproductsoort"  type = "hidden" />
                </div>
                @for (var i = 0; i < Model.atributes.Count; i++)
                    {
                        <label asp-for="@Model.atributes[i].Name" class="control-label">@Model.atributes[i].Name</label>
                        <input Class="form-control" asp-for="@Model.atributes[i].Name" value="" placeholder="@Model.atributes[i].Name"/> 
                        <input type = "hidden" asp-for="@Model.atributes[i].Id" /> 
                        <hr>                                                                                  
                    }
                <div class="form-group">
                    <input type="submit" value="Updaten" class="btn btn-primary"/>
                </div>          
            </form>
    
</div>
   

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}