@model IEnumerable<WebApp1.products.Productwaarde>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/product_creation_generic.css">
<div class="pageRoot">
    <h2>Producten</h2>

    <p>
        <a asp-action="Create2">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Deleteproductwaarde" asp-route-id="@item.Id">Delete</a>
                    | 
                    <a asp-action="Index" asp-controller="EditProduct" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
